server:
  port: 8080
spring:
  redis:
    host: localhost
    port: 6379
    password:
    database: 0
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 1
        max-wait: 1000ms
    timeout: 5000ms
  lifecycle:
    timeout-per-shutdown-phase: 20s
  datasource:
    url: jdbc:mysql://localhost:3306/ddd_admin?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  hikari:
    minimum-idle: 1
    maximum-pool-size: 5
    auto-commit: true
    idle-timeout: 300000
    pool-name: HikariPool-1
    connection-test-query: SELECT 1
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: false
auth:
  allow-multi-device: true
  expiration-ms: 3600000

logging:
  level:
    com.mok.ddd: INFO
    org.springframework: WARN
    org.hibernate: WARN
