server:
  port: 8080
spring:
  redis:
    host: localhost
    port: 6379
    password:
    database: 0
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 1
        max-wait: 1000ms
    timeout: 5000ms
  lifecycle:
    timeout-per-shutdown-phase: 20s
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  hikari:
    minimum-idle: 1
    maximum-pool-size: 5
    auto-commit: true
    idle-timeout: 300000
    pool-name: HikariPool-1
    connection-test-query: SELECT 1
  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
    show-sql: true
auth:
  allow-multi-device: true
  expiration-ms: 3600000

logging:
  level:
    com.mok.ddd: DEBUG
    org.springframework: WARN
    org.hibernate: WARN
